body {
    margin: 0;
}

.module-left, .navbar-brand, .second, .title, .item, .nav-link, .final, .vereinbaren {
    font-family: 'Open Sans', sans-serif;
}

.module-left {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid  #cac6c6;
    font-size: 13px;
    padding: 9px;
}

.address, .gray, .item {
    color: #666666;
}
.address {
    margin-right: 30px;
    margin-left: 40px;
    padding: 2px;
}

.email, .navbar-brand, .second, .title, .nav-link, .final, .vereinbaren {
    color: #2188bb;
}

.email {
    text-decoration: none;
    padding: 2px;
}

.envelope {
    padding: 8px;
}

.navbar-nav {
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 25px;    
}

.navbar {
    border-bottom: 1px solid #cac6c6;
}

.navbar-brand {
    font-size: 13px;
    margin-left: 40px;
}

.centr {
    font-size: 35px;
}

.text-body-emphasis {
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
}

.breadcrumb {
    display: flex;
    justify-content: center;
}

.second {
    font-size: 16px;  
}

.parent {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.imagen, .space {
    margin-left: 10%;
}

.space {
    padding: 10px;
}

.title {
    font-size: 30px;
    margin-left: 10px;
}

.item {
    font-size: 17px;
}

.nav-link, .final  {
    font-size: 15px;
}

.kosten{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.price{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
}

.termin{
    display: flex;
    justify-content: center;
}

.vereinbaren{
    width: 250px;
    height: 50px;
    margin-bottom: 65px;
    background-color: #ffffff;
    border: 2px solid #2188bb;

}

.vereinbaren:hover{
    background-color: #2188bb;
    color: #ffffff;
}


@media all and (max-width:820px) {
    .parent {
        padding: 0;
    }
    
    .imagen, .space {
        margin-left: 5%;
    }

    .title {
        font-size: 28px;
    }
}

@media all and (max-width:540px) {
    .parent {
        flex-wrap: wrap;
    }

    .space {
        padding: 20px;
    }
    
    .email {
        display: none;
    }
}